@page "/attendance"
@using ChampionsDbHelper.Data
@using ChampionsDbHelper.Models
@inject ISportData sportData
@inject ISportEventData sportEventData
@inject ITraineeData traineeData
@inject IStudentData studentData
@rendermode InteractiveServer

<div class="d-flex flex-row bd-highlight mb-3 bg-dark">
    <div class="p-2 bd-highlight">
        <label class="text-white mx-3" for="sport-select">Sport</label>
        <MyInputSelect id="sport-select" @bind-Value="@Model.Id">
            @if (sports is not null)
            {
                <option value=""></option>
                @foreach (Sport sport in sports)
                {
                    if (sport.SportDescription is not null)
                    {
                        <option value="@sport.SportId">@sport.SportDescription</option>
                    }
                }
            }
        </MyInputSelect>
    </div>
    <div class="p-2 bd-highlight">
        <label class="text-white" for="dateto">Date From</label>
        <InputDate id="datefrom" @bind-Value="Model.FromDate" />
    </div>
    <div class="p-2 bd-highlight pe-5">
        <label class="text-white" for="datefrom">Date To</label>
        <InputDate id="dateto" @bind-Value="Model.ToDate" />
    </div>
    <div class="p-2 bd-highlight">
        <label></label>
        <button class="btn btn-primary h-100" @onclick="() => Search()">Search</button>
    </div>
</div>
<table class="table table-info" style="width:100%">
    <thead class="bg-light">
        <tr>
            <th scope="col-2">Number Of Events</th>
            <th scope="col-2">Students Scheduled</th>
            <th scope="col-3">Students Attended</th>
            <th scope="col-2">Male</th>
            <th scope="col-3">Female</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><b>@events</b></td>
            <td>@participants</td>
            <td>@participantsAttended</td>
            <td>@maleAttendees</td>
            <td>@femaleAttendees</td>
        </tr>
    </tbody>
</table>

